    <!-- Intro Header -->
    <header class="intro">
        <div class="intro-body">
            <div class="container">
                <div class="row">
                    <div class="about-3x">
                        <img src="../img/ProfilePic.jpg" alt="Profile Picture" width="50%" height="50%">
                    </div>
                    <div class="about-3x">
                        <p>Hello! My name is Josh Mills.</p>
                    </div>
                </div>
                <div class="'row">
                    <div class="about-4x">
                        <p>I'm a full-stack web dev currently working primarily as a web dev for Paperless Solutions Group.</p>
                    </div>
                    <div class="about-4x">
                        <p>
                            This page is a sanbox playpen for blogging, testing new js technologies and trying out new designs
                            and other neat tools I come across.
                        </p>
                    </div>
                </div>
                <a href="#about" class="btn btn-circle page-scroll">
                    <i class="fa fa-angle-double-down animated"></i>
                </a>
            </div>
        </div>
    </header>