{% include css/bootstrap.min.css %}
{% include css/grayscale.css %}

.row {
    clear: both;
    text-align: left;
    padding-bottom: 20px;
}

.about-1x {
    float: left;
    width: 75px;
}

.about-2x {
    float: left;
    width: 150px;
}

.about-3x {
    float: left;
    width: 200px;
}

.about-4x {
    float: left;
    width: 300px;
}

.about-5x {
    float: left;
    width: 566px;
}